<div class="col-md-4 offset-md-4">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Add Student</h3>
    </div>
    <%= form_with url: "/create_student", method: :post do |form| %>
      <div class="card-body">
        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control"  %>
        </div>
      </div>
      <div class="card-footer">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
