
<div class="col-md-4 offset-md-4">
  <div class="card card-primary">
    <div class="card-header">
      <h3>New video</h3>
    </div>
    <%= render 'form', users_video: @users_video, back_path: users_videos_path %>
  </div>
</div>
